/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

/* Sections Container */
.content {
  flex: 1; /* Makes sure the content fills the available space */
  padding: 2rem 0; /* Adds spacing around the sections */
}

/* Footer Styles */
.footer-container { 
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #17137d;
  margin-top: 2rem; 
  background-color: rgba(3, 0, 31, 0.85);
}

.footer-wrapper {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.footer-logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}

.footer-nav {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.footer-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #7c3aed;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  gap: 2.5rem;
  margin: 1rem 0;
}

.footer-icon {
  color: #7c3aed;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color:#17137d;
}

.footer-copy {
  font-size: 0.9rem;
  color: #fff;
}
/* Hide footer-nav on small screens (phones) */
@media (max-width: 768px) {
  .footer-nav {
    display: none;
  }
}

